.button {
  display: inline-block;
  margin-bottom: 20px;
  padding: 15px 30px;
  background: #1d3557;
  color: #f1faee;
  font-size: 24px;
  border-radius: 5px;
  cursor: pointer;
  transition: color 0.4s;
}
.button:hover {
  background-color: #a8dadc;
  color: #1d3557;
}

.star {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 48px;
  cursor: pointer;
}

.star:hover {
  transform: rotate(-0.25turn);
  transition-duration: 0.5s;
}

.article {
  padding: 30px;
  background: #a8dadc;
  border-radius: 5px;
  color: #54819e;
  text-align: center;
  transition: color 0.5s;
  transition: transform 0.2s;
}

article:hover {
  color: #1d3557;
}

.article-title {
  margin-bottom: 12px;
  font-size: 24px;
  transition: transform 0.5s;
}

.article-title:hover {
  color: #1d3557;
  text-align: center;
  font-family: "Open Sans";
  font-size: 29px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  transform: scale(1.1);
}
